*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:block;
    justify-content: center;
    align-items: center;
}

#board{
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#status{
    background-color: lightgray;
    flex:1;
    display: flex;
}
#area{
    background-color: black;
    flex:8;
    display: flex;
    position: relative;
    width:100%;
    height:100%;
    /* background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(255,192,58,1) 19%); */
}
.info{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.object{
    position: absolute;
}
.ball{
    background-color: white;
    width: 25;
    height: 25;
    border-radius: 25;
    z-index: 5;
}
.player{
    width: 2%;
    height: 15%;
    background-color: white;
    border-radius: 5px;
}
/* .divider{
    height: 100%;
    background-color: white;
    left: 50%;
    transform:  translateX(-50%)
} */